.product-detail {
  width: 70%;
  margin-bottom: 2vh;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}


#price {
  background-color: black;
  color: white;
  width: 200px;
  text-align: center;
}

.background-image {
  background-image: url("/Users/rosevandergiessen/code/Rosevandergiessen/rails-airbnb-clone/app/assets/images/product-detail-page.jpg");
}
