.product-detail {
  width: 70%;
  margin-bottom: 2vh;

  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

}

.image-skate {
  position: relative;

  img {
    width: 100%
  }
}

.price-block {
  position: absolute;
  top: 0px;
  right: 0px;
}

#price {
  background-color: black;
  color: white;
  width: 200px;
  text-align: center;
}

p {
  font-family: 'Raleway', 'sans-serif';
  font-size: 18px;
}

body {
  background-color: white;
}
