<h2>Let's get renting!</h2>

<%= simple_form_for @booking do |f| %>
          <%= f.input :user_id, placeholder: 'User' %>
          <%= f.input :product_id, placeholder: 'Product' %>
          <%= f.submit class: 'btn btn-light border' %>
        <% end %>
