<div class="banner">
  <h1>Rent a skateboard</h1>
  <h2>Become Tony Hawk for cheap</h2>
  <div class="home-buttons">
    <div>
      <%= link_to "See all skateboards", products_path %>
    </div>
    <div>
      <%= link_to "Rent out your board!", new_product_path %>
    </div>
  </div>
</div>
