<div class="banner">
  <div class="text">
    <h1>Rent a skateboard</h1>
    <p>Become Tony Hawk for cheap</p>
    <div>
     <%= link_to "See all skateboards", products_path %>
    </div>
    <br>
    <div>
    <%= link_to "Rent out your board!", new_product_path %>
    </div>
    </div>

</div>
