
<h1>Rent a skateboard</h1>
<p>Become Tony Hawk for cheap</p>

<%= link_to "See all products", products_path %>
<br>
<%= link_to "Add new product", new_product_path %>

<% 10.times do %>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis ducimus esse ab dolore officiis saepe quaerat, nesciunt beatae tempora voluptates animi sapiente recusandae nulla nostrum modi molestias perspiciatis. Commodi, dolorem.</p>
<% end %>
