<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "See all products", products_path %>
<br>
<%= link_to "Add new", new_product_path %>

<% 50.times do %>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis ducimus esse ab dolore officiis saepe quaerat, nesciunt beatae tempora voluptates animi sapiente recusandae nulla nostrum modi molestias perspiciatis. Commodi, dolorem.</p>
<% end %>
