.card {
  background-size: cover;
  width: 200px;
  background-position: center;
  height: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);

  a {
    color: white;
    text-align: center;
    text-decoration: none;

    &:hover {
      text-shadow: 0 0 10px rgba(0,0,0,3);
    }
  }

  .img {
    width: 100%;
    height: 100%;
  }

  .overlay {
    position: absolute;
    top: 8px;
    left: 16px;
  }
}
