.card {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);

  a {
    color: black;
    text-align: center;
    text-decoration: none;
  }
}
