.footer {
  background: #ffffff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.footer-sitemap {
  display: flex;
  gap: 40px;
}

.footer-logo {
  max-width: 20px;
  object-fit: contain;
}
