.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
  z-index: 99;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-item {
  padding: 10px;
}

.nav-link {
  color: black;
  font-size: 18px;
  font-family: 'Raleway', 'sans-serif';
}

.navbar-lewagon .navbar-brand img {
  padding-left: 20px;
  width: 80px;
}

.navbar-title {
padding-top: 17px;
font-size: 20px;
}
