<div class="form_background">
<div class="container pt-5 pb-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-5 form">
      <h2>Edit your skateboard</h2>
      <%= render 'form' %>
    </div>
  </div>
</div>
</div>
