<div class="footer">
  <div class="footer-copyright">
  Skateboard Rental ©2022
  </div>
  <div class="footer-links">
    <a href="http://www.github.com"><i class="fab fa-github"></i></a>
    <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
    <a href="http://www.facebook.com"><i class="fab fa-facebook"></i></a>
  </div>
</div>
