<div class="footer">
  <div class="footer-copyright">
  Skateboard Rental ©2022
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
</div>
