<div class="footer">
  <div class="footer-copyright">
    <i class="fa-regular fa-copyright"></i> 2022 Skateboard Rental
  </div>

  <div class="footer-logo">
    INSERT LOGO
  </div>

  <div>
    <strong>Sitemap</strong>
    <div class="footer-sitemap">
      <div>
        <p>Sign up</p>
        <p>My bookings</p>
        <p>FAQ</p>
      </div>
      <div>
        <p>Contact</p>
        <p>About</p>
        <p>Terms & Conditions</p>
      </div>
    </div>
  </div>

</div>
